:root {
  --mainColor: rgb(255, 131, 0);
}
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
@media (max-width: 677px) {
  header nav {
    justify-content: space-around;
  }
  header .links {
    position: relative;
    width: 40px;
    flex-grow: 0;
  }
  header .links:hover .icon span:nth-child(2) {
    width: 100%;
  }
  header .links:hover ul {
    display: block;
  }
  .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .links .icon span {
    background-color: #805f4c;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
  }

  .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
  }

  header .links ul {
    position: absolute;
    background-color: #edefee;
    right: 0;
    min-width: 200px;
    top: calc(100% + 10px);
    display: none;
    padding-left: 0;
    padding-right: 0;
  }
  header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #edefee transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
  header .links ul a {
    display: block;
    padding: 5px;
    color: #333;
    transition: 0.3s;
  }
  header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #d7d4d4;
  }

  header .links ul a:hover {
    padding-left: 20px;
    background-color: var(--mainColor, orange);
    color: white;
  }
  .links ul li {
    padding: 0;
    text-align: left;
  }
  .links ul li:hover {
    border-bottom: inherit;
  }
}

header {
  padding: 20px;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 212px;
  img {
    width: 60px;
  }
}
.logo-word {
  font-weight: 700;
  font-size: 25px;
  /* padding: 0 20px 0 10px; */

  color: var(--mainColor, orange);
}

.links {
  flex-grow: 0.5;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 10px 0 10px;
  list-style: none;
  margin: 0;

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-weight: 550;
  }
}
ul li {
  padding: 0 6px 0 6px;
  text-align: center;
}
ul li:hover {
  border-bottom: 1px solid var(--mainColor);
}

/* End Header */

/* links */
